<!-- ... -->
<%- include ('../partials/header') %>

<div class="home-page">

    <h2>All Facespace Members</h2>
    <ul class="homepage__all">


        <% users.forEach(user => { %>
        
            <li class="homepage__all--user">

                <a href="/users/<%= user._id %>">
                    <img src="<%= user.avatarUrl %>" alt="Picture of <%= user.name %>">
                    </a>
            </li>
            <% }); %>
            
    </ul>
</div>
<%- include ('../partials/footer') %>
