<%- include ('../partials/header') %>

<div class="profile-page">
    <div class="profile-page--banner"></div>
</div>

<div class="profile-page__user">
    <img class="profile-page__user--avatar" src="<%= user.avatarUrl %>" alt="Image of <%= user.name %>">
    <h2><%= user.name %> </h2>
</div>

<div class="profile-page__friends">

    <h3> <%= user.name %>'s Friends </h3>

    <ul class="profile-page__friends--list">

        <%if (friends.length < 1) { %>
            <h2>
                No friends found.... maybe you should make some friends, <%=user.name%>.
            </h2>
                
        <%}%>

        <% friends.forEach(friend => { %>
        <li class="friend">
            <a href="/users/<%= friend._id %>">
            <img src="<%= friend.avatarUrl %>" alt="">
            <p> <%= friend.name %> </p>
            </a>

        </li>
        <% }); %>
    </ul>
</div>

<%- include ('../partials/footer') %>